<header>
    <h1>Práctica Integradora</h1>
    <nav>
        <ul>
            <li><a href="/product">Productos</a></li>
            <li><a href="/newProduct">Crear producto</a></li>
        </ul>
    </nav>
</header>